/* =============================================================================
  Project: front-ed.css
  ------------------------------------------------------------------------------
  File: Config
  Description: Coleção de variáveis utilizadas no front-ed.css
  Author: Ed Robert
============================================================================= */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');
/* font-family: 'Libre Franklin', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
/* font-family: 'Young Serif', serif; */

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400..700&display=swap');
/* font-family: 'Libre Baskerville', serif; */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:MONO@1&display=swap');
/* font-family: 'Google Sans Code', monospace; */
/* font-variation-settings: 'MONO' 1; */

:root {
  color-scheme: light dark;

  /* Elements - Bare elements (unclassed HTML / type selectors) ================
  /* Objects - Layout classes, cosmetic-free design patterns ===================
  =========================================================================== */

  /* Typography ------------------------------------------------------------- */
  --font-sans-display: 'Libre Franklin', sans-serif;
  --font-sans-text: 'Open Sans', sans-serif;
  --font-serif-display: 'Young Serif', serif;
  --font-serif-text: 'Libre Baskerville', serif;
  --font-monospace: 'Google Sans Code', monospace;

  --font-weight-bolder: 600;
  --font-size-base: 1.6rem;
  --font-size-sm: 1.4rem;
  --font-size-md: 1.8rem;
  --font-size-lg: 2.4rem;

  --lh-150: 1.5;
  --lh-125: 1.25;
  --lh-100: 1;

  /* Basic HTML ------------------------------------------------------------- */
  --body-background: light-dark(var(--ui-color-1), var(--ui-color-8));
  --body-color: light-dark(var(--ui-color-9), var(--ui-color-1));
  --body-font: var(--font-sans-text);

  --heading-padding-y: .3rem;
  --heading-color: light-dark(var(--ui-color-6), var(--ui-color-3));
  --heading-weight: 600;
  --heading-6-size: 1.8rem;
  --heading-5-size: 2.0rem;
  --heading-4-size: 2.2rem;
  --heading-3-size: 2.5rem;
  --heading-2-size: 2.8rem;
  --heading-1-size: 3.2rem;
  --heading-font: var(--font-sans-display);

  --heading-large-color: light-dark(var(--ui-color-6), var(--ui-color-3));
  --heading-large-weight: 300;
  --heading-large-4-size: clamp(2.4rem, 7vw, 3.2rem);
  --heading-large-3-size: clamp(2.8rem, 8vw, 3.6rem);
  --heading-large-2-size: clamp(3.2rem, 9vw, 4.2rem);
  --heading-large-1-size: clamp(3.6rem, 10vw, 4.8rem);
  --heading-large-font: var(--font-sans-display);

  --heading-overline-color: light-dark(var(--ui-color-6), var(--ui-color-3));
  --heading-overline-size: 1.8rem;
  --heading-caption-color: light-dark(var(--ui-color-6), var(--ui-color-3));
  --heading-caption-size: 1.4rem;

  --paragraph-padding-y: .6rem;
  --paragraph-indent: 2em;
  --custom-p-padding-y: .6rem;
  --custom-p-font-size: 2.4rem;
  --custom-p-indent: 0;
  --custom-p-open-quote: open-quote;
  --custom-p-close-quote: close-quote;

  --rule-height: .2rem;
  --rule-margin-y: 1.2rem;
  --rule-color: light-dark(var(--ui-color-2), var(--ui-color-6));

  /* Text blocks ------------------------------------------------------------ */
  --blockquote-margin-x: 1em;
  --blockquote-padding-x: 2em 1em;
  --blockquote-padding-y: 1.2rem;
  --blockquote-border: .6rem;
  --blockquote-border-color: light-dark(var(--ui-color-2), var(--ui-color-6));
  --blockquote-background: light-dark(var(--ui-color-0), var(--ui-color-9));
  --blockquote-color: light-dark(var(--ui-color-5), var(--ui-color-2));
  --blockquote-font-size: 1.6rem;
  --blockquote-font: var(--font-serif-text);
  --blockquote-indent: 2em;
  --blockquote-caption-margin: .6rem;

  /* Semantic inline text --------------------------------------------------- */
  --anchor-color: light-dark(var(--royalblue-8), var(--royalblue-3));
  --anchor-weight: 500;

  /* Lists ------------------------------------------------------------------ */
  --list-item-padding-y: .3rem;
  --list-border-color: light-dark(var(--ui-color-3), var(--ui-color-5));
  --list-indent: 1.5em;
  --menu-item-padding-y: .1rem;
  --counter-start: '[';
  --counter-end: ']';
  --counter-size: 1.4rem;
  --ol-marker-color: light-dark(var(--ui-color-5), var(--ui-color-3));
  --ul-marker-color: light-dark(var(--ui-color-3), var(--ui-color-5));
  --ul-icon-color: light-dark(var(--ui-color-3), var(--ui-color-5));
  --dl-marker-color: light-dark(var(--ui-color-3), var(--ui-color-5));

  /* Tables ----------------------------------------------------------------- */
  --table-container-scrollbar: var(--scrollbar);
  --table-layout: auto;
  --table-width: 100%;
  --table-border: light-dark(var(--ui-color-2), var(--ui-color-6));
  --table-caption-margin: .6rem;
  --table-caption-color: light-dark(var(--ui-color-5), var(--ui-color-2));
  --table-caption-size: 1.6rem;
  --table-caption-align: center;
  --thead-cell-padding: .6rem 1.2rem;
  --thead-color: light-dark(var(--ui-color-5), var(--ui-color-2));
  --thead-weight: var(--font-weight-bolder);
  --thead-size: 1.4rem;
  --tfoot-size: 1.4rem;
  --tbody-cell-padding: .3rem 1.2rem;
  --tbody-color: inherit;
  --tbody-size: inherit;
  --tbody-stripes: brightness(1.05);

  /* Images ----------------------------------------------------------------- */
  --figcaption-color: inherit;
  --figcaption-size: inherit;
  --image-display-padding-x: 0;
  --image-display-padding-y: 0;
  --image-display-background: light-dark(var(--ui-color-9), var(--ui-color-7));
  --image-display-align: center;
  --image-caption-padding-y: 1.2rem;
  --image-caption-color: light-dark(var(--ui-color-2), var(--ui-color-2));
  --image-caption-size: 1.4rem;

  /* Multimedia ------------------------------------------------------------- */
  --audio-panel-color: light-dark(var(--ui-color-0), var(--ui-color-7));
  --audio-display-border: light-dark(var(--ui-color-4), var(--ui-color-6));
  --audio-display-background: light-dark(var(--ui-color-2), var(--ui-color-8));
  --audio-display-track: light-dark(var(--ui-color-8), var(--ui-color-2));
  --audio-display-caption: light-dark(var(--ui-color-6), var(--ui-color-3));

  --video-display-background: light-dark(var(--ui-color-9), var(--ui-color-8));
  --video-display-track: light-dark(var(--ui-color-1), var(--ui-color-1));
  --video-display-caption: light-dark(var(--ui-color-2), var(--ui-color-2));

  /* Scripting -------------------------------------------------------------- */
  --canvas-display: inline-block;
  --canvas-border: light-dark(var(--ui-color-4), var(--ui-color-6));
  --canvas-background: light-dark(var(--ui-color-3), var(--ui-color-9));

  /* Buttons ---------------------------------------------------------------- */
  --button-radius: var(--radius-base);
  --button-border: .2rem;
  --button-border-color: light-dark(var(--ui-color-3), var(--ui-color-4));
  --button-background: light-dark(var(--ui-color-0), var(--ui-color-6));
  --button-color: light-dark(var(--ui-color-7), var(--ui-color-2));
  --button-weight: 600;
  --button-text: 1.4rem;
  --button-icon-size: 1.6rem;

  /* Components ================================================================
  =========================================================================== */

  /* Containers ------------------------------------------------------------- */
  /* Fixed widths | scale: [96rem, 80rem, 64rem, 48rem] */
  --max-width-xl: 96rem;
  --max-width-lg: 80rem;
  --max-width-md: 64rem;
  --max-width-sm: 48rem;

  --section-max-width: var(--max-width-xl);
  --section-margin-y: 0;
  --section-padding-x: 1.2rem;
  --section-padding-y: 2.4rem;

  --scrollbar: light-dark(var(--ui-color-3), var(--ui-color-6)) transparent;

  /* Headers and footers ---------------------------------------------------- */
  --header-padding-x: 2.4rem;
  --header-padding-y: 1.2rem;
  --header-background: light-dark(var(--ui-color-2), var(--ui-color-7));
  --header-content-background: light-dark(var(--ui-color-2), var(--ui-color-7));

  /* Banners ---------------------------------------------------------------- */
  --banner-display: flex;
  --banner-axis-main: center;
  --banner-axis-cross: center;
  --banner-gap: 0;
  --banner-height: auto;
  --banner-padding-x: 2.4rem;
  --banner-padding-y: 2.4rem;
  --banner-background: var(--ui-color-3);
  --banner-image: url('../assets/banner.webp');

  /* Branding --------------------------------------------------------------- */
  --brand-image-align: end;
  --brand-image-width: 6rem;
  --brand-image-margin: 1.2rem;
  --brand-caption-color: light-dark(var(--ui-color-5), var(--ui-color-5));
  --brand-caption-size: 1.8rem;

  /* Avatars ---------------------------------------------------------------- */
  --avatar-height: 4.8rem;
  --avatar-padding-x: 0 1.2rem;
  --avatar-background: var(--ui-color-0);
  --avatar-id-color: light-dark(var(--ui-color-5), var(--ui-color-5));
  --avatar-id-size: 1.8rem;

  /* Toolbars --------------------------------------------------------------- */
  --app-bar-gap: .2rem;
  --app-bar-height: 4.8rem;
  --app-bar-icon-color: light-dark(var(--ui-color-5), var(--ui-color-3));
  --app-bar-icon-size: 2.4rem;
  --divider-width: .2rem;
  --divider-height: 3.6rem;
  --divider-margin: 1.2rem;
  --divider-color: light-dark(var(--ui-color-3), var(--ui-color-7));

  /* Menus ------------------------------------------------------------------ */
  --nav-bar-gap: 3.6rem;
  --nav-bar-padding-x: 1.2rem;
  --nav-bar-padding-y: 0;
  --nav-bar-background: light-dark(var(--ui-color-5), var(--ui-color-5));
  --nav-bar-link-height: 4.8rem;
  --nav-bar-link-color: var(--ui-color-1);
  --nav-bar-link-size: 1.6rem;

  /* Icons ------------------------------------------------------------------ */
  --icon-base: 1.6rem;
  --icon-md: 3.2rem;
  --icon-lg: 4.8rem;
  --icon-xl: 6.4rem;

  /* Messages --------------------------------------------------------------- */
  --icon-messages: 2.4rem;
  --icon-notices: 2.4rem;
  --notice-block-max-width: var(--container-width-sm);
  --notice-block-radius: .9rem;
  --default-border: light-dark(var(--ui-color-2), var(--ui-color-2));
  --default-background: light-dark(var(--ui-color-0), var(--ui-color-0));
  --default-color: light-dark(var(--ui-color-7), var(--ui-color-7));
  --positive-border: light-dark(var(--green-3), var(--green-3));
  --positive-background: light-dark(var(--green-1), var(--green-1));
  --positive-color: light-dark(var(--green-8), var(--green-8));
  --negative-border: light-dark(var(--red-2), var(--red-2));
  --negative-background: light-dark(var(--red-1), var(--red-1));
  --negative-color: light-dark(var(--red-7), var(--red-7));
  --warning-border: light-dark(var(--gold-4), var(--gold-4));
  --warning-background: light-dark(var(--gold-1), var(--gold-1));
  --warning-color: light-dark(var(--gold-9), var(--gold-9));
  --info-border: light-dark(var(--blue-3), var(--blue-3));
  --info-background: light-dark(var(--blue-1), var(--blue-1));
  --info-color: light-dark(var(--blue-7), var(--blue-7));

  /* Tagging ---------------------------------------------------------------- */
  --tag-background: light-dark(var(--ui-color-5), var(--ui-color-5));
  --tag-color: light-dark(var(--ui-color-0), var(--ui-color-0));
  --tag-size: 1.4rem;
  --tag-label-background: light-dark(var(--ui-color-2), var(--ui-color-6));
  --tag-label-color: light-dark(var(--ui-color-7), var(--ui-color-0));
  --tag-label-size: 1.4rem;
  --badge-background: light-dark(var(--ui-color-5), var(--ui-color-5));
  --badge-color: light-dark(var(--ui-color-0), var(--ui-color-0));
  --badge-size: 1.4rem;
  --pill-background: light-dark(var(--ui-color-2), var(--ui-color-6));
  --pill-color: light-dark(var(--ui-color-7), var(--ui-color-0));
  --pill-size: 1.4rem;
  --chips-background: light-dark(var(--ui-color-5), var(--ui-color-5));
  --chips-color: light-dark(var(--ui-color-0), var(--ui-color-0));
  --chips-size: 1.4rem;

  /* Loaders ---------------------------------------------------------------- */
  --custom-spinner-size: 9.6rem;
  --custom-spinner-stroke: .9rem;
  --spinner-color-scheme:
    light-dark(var(--ui-color-2), var(--ui-color-2))
    light-dark(var(--ui-color-2), var(--ui-color-2))
    light-dark(var(--ui-color-5), var(--ui-color-5));
  --spinner-animation: spin-cw 2000ms linear infinite;

  /* Navigation ------------------------------------------------------------- */
  --crumb-splitter: light-dark(var(--ui-color-3), var(--ui-color-5));
  --crumb-color: light-dark(var(--royalblue-7), var(--royalblue-3));
  --crumb-end-color: inherit;

  --pag-item-background: light-dark(var(--ui-color-0), var(--ui-color-7));
  --pag-item-color: light-dark(var(--ui-color-7), var(--ui-color-1));

  /* Utilities =================================================================
  =========================================================================== */

  /* Text utils ------------------------------------------------------------- */
  --text-columns: 2;
  --text-columns-min-width: 6rem;
  --text-columns-gap: 1.2rem;

  /* Borders ---------------------------------------------------------------- */
  --radius-base: .9rem;
  --radius-sm:  .6rem;
  --radius-md: 1.2rem;
  --radius-lg: 1.5rem;

  --border-base: .2rem;
  --border-1: .1rem;
  --border-2: .2rem;
  --border-3: .3rem;
  --border-color-base: light-dark(var(--ui-color-3), var(--ui-color-6));

  /* Animations ------------------------------------------------------------- */
  --anima-blink:    blink 700ms linear 100ms infinite;
  --anima-pulse:    pulse 700ms linear infinite;
  --anima-rotate:   rotate 1000ms linear infinite;
  --anima-spin-cw:  spin-cw 2000ms linear infinite;
  --anima-spin-ccw: spin-ccw 2000ms linear infinite;

  /* Color palette ========================================================== */
  --grid-colors-columns: 11;
  --grid-colors-rows: 11;

  --ui-color:  hsl(220, 24%, 44%);
  --red:       hsl(348, 83%, 47%);
  --orange:    hsl(33, 100%, 50%);
  --gold:      hsl(51, 100%, 50%);
  --lime:      hsl(90, 100%, 50%);
  --green:     hsl(120, 61%, 50%);
  --tiffany:   hsl(174, 72%, 56%);
  --blue:      hsl(210, 100%, 56%);
  --royalblue: hsl(225, 73%, 56%);
  --purple:    hsl(280, 61%, 50%);
  --brown:     hsl(19, 56%, 40%);

  --ui-color-0: hsl(220, 24%, 95%);
  --ui-color-1: hsl(220, 24%, 90%);
  --ui-color-2: hsl(220, 24%, 78%);
  --ui-color-3: hsl(220, 24%, 67%);
  --ui-color-4: hsl(220, 24%, 55%);
  --ui-color-5: hsl(220, 24%, 44%);
  --ui-color-6: hsl(220, 24%, 39%);
  --ui-color-7: hsl(220, 24%, 34%);
  --ui-color-8: hsl(220, 24%, 29%);
  --ui-color-9: hsl(220, 24%, 25%);

  --red-0: hsl(348, 83%, 95%);
  --red-1: hsl(348, 83%, 90%);
  --red-2: hsl(348, 83%, 80%);
  --red-3: hsl(348, 83%, 69%);
  --red-4: hsl(348, 83%, 58%);
  --red-5: hsl(348, 83%, 47%);
  --red-6: hsl(348, 83%, 41%);
  --red-7: hsl(348, 83%, 36%);
  --red-8: hsl(348, 83%, 30%);
  --red-9: hsl(348, 83%, 25%);

  --orange-0: hsl(33, 100%, 95%);
  --orange-1: hsl(33, 100%, 90%);
  --orange-2: hsl(33, 100%, 80%);
  --orange-3: hsl(33, 100%, 70%);
  --orange-4: hsl(33, 100%, 60%);
  --orange-5: hsl(33, 100%, 50%);
  --orange-6: hsl(33, 100%, 44%);
  --orange-7: hsl(33, 100%, 38%);
  --orange-8: hsl(33, 100%, 32%);
  --orange-9: hsl(33, 100%, 25%);

  --gold-0: hsl(51, 100%, 95%);
  --gold-1: hsl(51, 100%, 90%);
  --gold-2: hsl(51, 100%, 80%);
  --gold-3: hsl(51, 100%, 70%);
  --gold-4: hsl(51, 100%, 60%);
  --gold-5: hsl(51, 100%, 50%);
  --gold-6: hsl(51, 100%, 44%);
  --gold-7: hsl(51, 100%, 38%);
  --gold-8: hsl(51, 100%, 32%);
  --gold-9: hsl(51, 100%, 25%);

  --lime-0: hsl(90, 100%, 95%);
  --lime-1: hsl(90, 100%, 90%);
  --lime-2: hsl(90, 100%, 80%);
  --lime-3: hsl(90, 100%, 70%);
  --lime-4: hsl(90, 100%, 60%);
  --lime-5: hsl(90, 100%, 50%);
  --lime-6: hsl(90, 100%, 44%);
  --lime-7: hsl(90, 100%, 38%);
  --lime-8: hsl(90, 100%, 32%);
  --lime-9: hsl(90, 100%, 25%);

  --green-0: hsl(120, 61%, 95%);
  --green-1: hsl(120, 61%, 90%);
  --green-2: hsl(120, 61%, 80%);
  --green-3: hsl(120, 61%, 70%);
  --green-4: hsl(120, 61%, 60%);
  --green-5: hsl(120, 61%, 50%);
  --green-6: hsl(120, 61%, 44%);
  --green-7: hsl(120, 61%, 38%);
  --green-8: hsl(120, 61%, 32%);
  --green-9: hsl(120, 61%, 25%);

  --tiffany-0: hsl(174, 72%, 95%);
  --tiffany-1: hsl(174, 72%, 90%);
  --tiffany-2: hsl(174, 72%, 81%);
  --tiffany-3: hsl(174, 72%, 73%);
  --tiffany-4: hsl(174, 72%, 64%);
  --tiffany-5: hsl(174, 72%, 56%);
  --tiffany-6: hsl(174, 72%, 48%);
  --tiffany-7: hsl(174, 72%, 40%);
  --tiffany-8: hsl(174, 72%, 32%);
  --tiffany-9: hsl(174, 72%, 25%);

  --blue-0: hsl(210, 100%, 95%);
  --blue-1: hsl(210, 100%, 90%);
  --blue-2: hsl(210, 100%, 81%);
  --blue-3: hsl(210, 100%, 73%);
  --blue-4: hsl(210, 100%, 64%);
  --blue-5: hsl(210, 100%, 56%);
  --blue-6: hsl(210, 100%, 48%);
  --blue-7: hsl(210, 100%, 40%);
  --blue-8: hsl(210, 100%, 32%);
  --blue-9: hsl(210, 100%, 25%);

  --royalblue-0: hsl(225, 73%, 95%);
  --royalblue-1: hsl(225, 73%, 90%);
  --royalblue-2: hsl(225, 73%, 81%);
  --royalblue-3: hsl(225, 73%, 73%);
  --royalblue-4: hsl(225, 73%, 64%);
  --royalblue-5: hsl(225, 73%, 56%);
  --royalblue-6: hsl(225, 73%, 48%);
  --royalblue-7: hsl(225, 73%, 40%);
  --royalblue-8: hsl(225, 73%, 32%);
  --royalblue-9: hsl(225, 73%, 25%);

  --purple-0: hsl(280, 61%, 95%);
  --purple-1: hsl(280, 61%, 90%);
  --purple-2: hsl(280, 61%, 80%);
  --purple-3: hsl(280, 61%, 70%);
  --purple-4: hsl(280, 61%, 60%);
  --purple-5: hsl(280, 61%, 50%);
  --purple-6: hsl(280, 61%, 44%);
  --purple-7: hsl(280, 61%, 38%);
  --purple-8: hsl(280, 61%, 32%);
  --purple-9: hsl(280, 61%, 25%);

  --brown-0: hsl(19, 56%, 95%);
  --brown-1: hsl(19, 56%, 90%);
  --brown-2: hsl(19, 56%, 77%);
  --brown-3: hsl(19, 56%, 65%);
  --brown-4: hsl(19, 56%, 52%);
  --brown-5: hsl(19, 56%, 40%);
  --brown-6: hsl(19, 56%, 36%);
  --brown-7: hsl(19, 56%, 32%);
  --brown-8: hsl(19, 56%, 28%);
  --brown-9: hsl(19, 56%, 25%);
}

/* END OF FILE ============================================================== */
