/* =============================================================================
  Project: front-ed.css
  ------------------------------------------------------------------------------
  File: Config
  Description: Coleção de variáveis utilizadas no front-ed.css
  Author: Ed Robert
============================================================================= */

@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100..900&display=swap');
/* font-family: 'Libre Franklin', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap'); */
/* font-family: 'Young Serif', serif; */

/* @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap'); */
/* font-family: 'Libre Baskerville', serif; */

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');
/* font-family: 'Source Code Pro', monospace; */

:root {
  /* TYPOGRAPHY ------------------------------------------------------------- */
  --font-sans-display: 'Libre Franklin', sans-serif;
  --font-sans-text: 'Open Sans', sans-serif;
  --font-serif-display: 'Young Serif', serif;
  --font-serif-text: 'Libre Baskerville', serif;
  --font-monospace: 'Source Code Pro', monospace;

  /* BASIC HTML ------------------------------------------------------------- */
  --body-background: var(--ui-color-0);
  --body-text: var(--ui-color-9);

  --heading-font: var(--font-sans-display);
  --heading-weight: unset;
  --heading-color: var(--ui-color-8);
  --heading-color-overline: var(--ui-color-8);
  --heading-color-caption: var(--ui-color-6);

  --ruler-height: .1rem;
  --ruler-margin: 1.2rem auto;
  --ruler-color: var(--ui-color-5);

  /* TEXT FORMATTING -------------------------------------------------------- */
  --font-weight-bolder: 600;

  --lh-150: 1.5;
  --lh-125: 1.25;

  --anchor-color-link: var(--ui-color-7);
  --anchor-color-visited: var(--ui-color-7);
  --anchor-color-hover: var(--ui-color-9);
  --anchor-color-active: var(--ui-color-9);
  --anchor-color-focus: var(--ui-color-9);

  /* COLOR PALETTE ---------------------------------------------------------- */
  --ui-color:  hsl(210, 12%, 50%);
  --red:       hsl(348, 83%, 47%);
  --orange:    hsl(33, 100%, 50%);
  --gold:      hsl(51, 100%, 50%);
  --lime:      hsl(90, 100%, 50%);
  --green:     hsl(120, 61%, 50%);
  --tiffany:   hsl(174, 72%, 56%);
  --blue:      hsl(210, 100%, 56%);
  --royalblue: hsl(225, 73%, 56%);
  --purple:    hsl(280, 61%, 50%);
  --brown:     hsl(19, 56%, 40%);

  --ui-color-0: hsl(210, 12%, 95%);
  --ui-color-1: hsl(210, 12%, 90%);
  --ui-color-2: hsl(210, 12%, 80%);
  --ui-color-3: hsl(210, 12%, 70%);
  --ui-color-4: hsl(210, 12%, 60%);
  --ui-color-5: hsl(210, 12%, 50%);
  --ui-color-6: hsl(210, 12%, 44%);
  --ui-color-7: hsl(210, 12%, 38%);
  --ui-color-8: hsl(210, 12%, 32%);
  --ui-color-9: hsl(210, 12%, 25%);

  --red-1: hsl(348, 83%, 90%);
  --red-2: hsl(348, 83%, 80%);
  --red-3: hsl(348, 83%, 69%);
  --red-4: hsl(348, 83%, 58%);
  --red-5: hsl(348, 83%, 47%);
  --red-6: hsl(348, 83%, 41%);
  --red-7: hsl(348, 83%, 36%);
  --red-8: hsl(348, 83%, 30%);
  --red-9: hsl(348, 83%, 25%);

  --orange-1: hsl(33, 100%, 90%);
  --orange-2: hsl(33, 100%, 80%);
  --orange-3: hsl(33, 100%, 70%);
  --orange-4: hsl(33, 100%, 60%);
  --orange-5: hsl(33, 100%, 50%);
  --orange-6: hsl(33, 100%, 44%);
  --orange-7: hsl(33, 100%, 38%);
  --orange-8: hsl(33, 100%, 32%);
  --orange-9: hsl(33, 100%, 25%);

  --gold-1: hsl(51, 100%, 90%);
  --gold-2: hsl(51, 100%, 80%);
  --gold-3: hsl(51, 100%, 70%);
  --gold-4: hsl(51, 100%, 60%);
  --gold-5: hsl(51, 100%, 50%);
  --gold-6: hsl(51, 100%, 44%);
  --gold-7: hsl(51, 100%, 38%);
  --gold-8: hsl(51, 100%, 32%);
  --gold-9: hsl(51, 100%, 25%);

  --lime-1: hsl(90, 100%, 90%);
  --lime-2: hsl(90, 100%, 80%);
  --lime-3: hsl(90, 100%, 70%);
  --lime-4: hsl(90, 100%, 60%);
  --lime-5: hsl(90, 100%, 50%);
  --lime-6: hsl(90, 100%, 44%);
  --lime-7: hsl(90, 100%, 38%);
  --lime-8: hsl(90, 100%, 32%);
  --lime-9: hsl(90, 100%, 25%);

  --green-1: hsl(120, 61%, 90%);
  --green-2: hsl(120, 61%, 80%);
  --green-3: hsl(120, 61%, 70%);
  --green-4: hsl(120, 61%, 60%);
  --green-5: hsl(120, 61%, 50%);
  --green-6: hsl(120, 61%, 44%);
  --green-7: hsl(120, 61%, 38%);
  --green-8: hsl(120, 61%, 32%);
  --green-9: hsl(120, 61%, 25%);

  --tiffany-1: hsl(174, 72%, 90%);
  --tiffany-2: hsl(174, 72%, 81%);
  --tiffany-3: hsl(174, 72%, 73%);
  --tiffany-4: hsl(174, 72%, 64%);
  --tiffany-5: hsl(174, 72%, 56%);
  --tiffany-6: hsl(174, 72%, 48%);
  --tiffany-7: hsl(174, 72%, 40%);
  --tiffany-8: hsl(174, 72%, 32%);
  --tiffany-9: hsl(174, 72%, 25%);

  --blue-1: hsl(210, 100%, 90%);
  --blue-2: hsl(210, 100%, 81%);
  --blue-3: hsl(210, 100%, 73%);
  --blue-4: hsl(210, 100%, 64%);
  --blue-5: hsl(210, 100%, 56%);
  --blue-6: hsl(210, 100%, 48%);
  --blue-7: hsl(210, 100%, 40%);
  --blue-8: hsl(210, 100%, 32%);
  --blue-9: hsl(210, 100%, 25%);

  --royalblue-1: hsl(225, 73%, 90%);
  --royalblue-2: hsl(225, 73%, 81%);
  --royalblue-3: hsl(225, 73%, 73%);
  --royalblue-4: hsl(225, 73%, 64%);
  --royalblue-5: hsl(225, 73%, 56%);
  --royalblue-6: hsl(225, 73%, 48%);
  --royalblue-7: hsl(225, 73%, 40%);
  --royalblue-8: hsl(225, 73%, 32%);
  --royalblue-9: hsl(225, 73%, 25%);

  --purple-1: hsl(280, 61%, 90%);
  --purple-2: hsl(280, 61%, 80%);
  --purple-3: hsl(280, 61%, 70%);
  --purple-4: hsl(280, 61%, 60%);
  --purple-5: hsl(280, 61%, 50%);
  --purple-6: hsl(280, 61%, 44%);
  --purple-7: hsl(280, 61%, 38%);
  --purple-8: hsl(280, 61%, 32%);
  --purple-9: hsl(280, 61%, 25%);

  --brown-1: hsl(19, 56%, 90%);
  --brown-2: hsl(19, 56%, 77%);
  --brown-3: hsl(19, 56%, 65%);
  --brown-4: hsl(19, 56%, 52%);
  --brown-5: hsl(19, 56%, 40%);
  --brown-6: hsl(19, 56%, 36%);
  --brown-7: hsl(19, 56%, 32%);
  --brown-8: hsl(19, 56%, 28%);
  --brown-9: hsl(19, 56%, 25%);
}

/* END OF FILE ============================================================== */
