/** ============================================================================
    File: Images and Media
    ITCSS Group: Base
============================================================================= */

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

// audio, canvas, figcaption, figure, img, map, picture, svg, video

/* END OF FILE ============================================================== */
