/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Avatars
============================================================================= */

.avatar {
  display: flex;
  justify-content: left;
  align-items: stretch;
  border-radius: var(--avatar-radius);
  background-color: var(--avatar-background);
}

.avatar-image {
  height: var(--avatar-image-size);
  border-radius: var(--avatar-image-radius);
}

.avatar-id {
  padding-inline: var(--avatar-id-padding-x);
  place-content: center;
  color: var(--avatar-id-color);
  font-size: var(--avatar-id-size);
  line-height: var(--lh-125);
}

/* END OF FILE ============================================================== */
