/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Avatars
============================================================================= */

.avatar {
  height: var(--avatar-image-size);
  padding-inline: var(--avatar-padding);
  border-radius: var(--avatar-radius);
  background-color: unset;
}

.avatar-image {
  height: var(--avatar-image-size);
  border-radius: var(--avatar-image-radius);
}

.avatar-id {
  color: var(--avatar-id-color);
  font-size: var(--avatar-id-size);
  line-height: var(--lh-125);
}

/* END OF FILE ============================================================== */
