/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Avatars
============================================================================= */

.avatar,
.avatar-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar { gap: 1.2rem; }

.avatar-thumb {
  height: var(--avatar-height);
  border-radius: .6rem;
}

.avatar-id {
  font-size: var(--avatar-id-size);
  line-height: var(--lh-125);
}

.avatar-button {
  .avatar-thumb { border-radius: .6rem 0 0 .6rem; }

  .avatar-id {
    align-content: center;
    height: var(--avatar-height);
    padding-inline: 1.2rem;
    border-radius: 0 .6rem .6rem 0;
    background-color: var(--avatar-color);
    color: var(--avatar-text);
  }
}

/* END OF FILE ============================================================== */
