/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Branding
============================================================================= */

// .brand {}
.brand:has(> .brand-image) {
  display: flex;
  justify-content: left;
  align-items: var(--brand-image-align);
  gap: var(--brand-image-margin);
}

.brand-caption {
  margin-top: var(--brand-caption-margin);
  padding-block: unset;
  color: var(--brand-caption-color);
  font-size: var(--brand-caption-size);
  line-height: var(--lh-125);
}

.brand-image { width: var(--brand-image-width); }

// .brand-group {}

/* END OF FILE ============================================================== */
