/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Containers
============================================================================= */

// .body {}

.section-fluid {
  margin-block: var(--section-fluid-margin-y);
  padding-inline: var(--section-fluid-padding-x);
  padding-block: var(--section-fluid-padding-y);
}

.section {
  max-width: var(--section-max-width);
  margin-inline: auto;
  margin-block: var(--section-margin-y);
  padding-inline: var(--section-padding-x);
  padding-block: var(--section-padding-y);
}

.container-lg { max-width: var(--max-width-lg); }
.container-md { max-width: var(--max-width-md); }
.container-sm { max-width: var(--max-width-sm); }

.margin-auto { margin-inline: auto; }

.ratio-square     { aspect-ratio:     1/1; }
.ratio-portrait   { aspect-ratio:     3/4; }
.ratio-landscape  { aspect-ratio:     4/3; }
.ratio-widescreen { aspect-ratio:    16/9; }
.ratio-ultrawide  { aspect-ratio:    18/5; }
.ratio-golden     { aspect-ratio: 1.618/1; }

/* END OF FILE ============================================================== */
