/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Containers
============================================================================= */

.container-fluid {
  padding-inline: var(--pad-x-container);
  padding-block: var(--pad-y-container);
}

/* END OF FILE ============================================================== */
