/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Flexbox
============================================================================= */

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.row-lt { justify-content: left; align-items: start; }
.row-lc { justify-content: left; align-items: center; }
.row-lb { justify-content: left; align-items: end; }
.row-ls { justify-content: left; align-items: stretch; }

.row-ct { justify-content: center; }
.row-cc { justify-content: center; align-items: center; }
.row-cb { justify-content: center; align-items: end; }
.row-cs { justify-content: center; align-items: stretch; }

.row-rt { justify-content: end; align-items: start; }
.row-rc { justify-content: end; align-items: center; }
.row-rb { justify-content: end; align-items: end; }
.row-rs { justify-content: end; align-items: stretch; }

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.column-tl { justify-content: start; align-items: start; }
.column-tc { justify-content: start; align-items: center; }
.column-tr { justify-content: start; align-items: end; }
.column-ts { justify-content: start; align-items: stretch; }

.column-cl { justify-content: center; align-items: start; }
.column-cc { justify-content: center; align-items: center; }
.column-cr { justify-content: center; align-items: end; }
.column-cs { justify-content: center; align-items: stretch; }

.column-bl { justify-content: end; align-items: start; }
.column-bc { justify-content: end; align-items: center; }
.column-br { justify-content: end; align-items: end; }
.column-bs { justify-content: end; align-items: stretch; }

.flex-grow { flex-grow: 1; }

/* END OF FILE ============================================================== */
