/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Grid layout
============================================================================= */

.grid-container {
  overflow-x: auto;
  max-width: 100%;
  scrollbar-width: thin;
  scroll-snap-type: x mandatory;

  span { scroll-snap-align: start; }
}

.grid-12 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-cell-width), 1fr));
}

.gap-3  { gap: .3rem; }
.gap-6  { gap: .6rem; }
.gap-12 { gap: 1.2rem; }
.gap-24 { gap: 2.4rem; }

.col-1  { grid-column: span 1; }
.col-2  { grid-column: span 2; }
.col-3  { grid-column: span 3; }
.col-4  { grid-column: span 4; }
.col-5  { grid-column: span 5; }
.col-6  { grid-column: span 6; }
.col-7  { grid-column: span 7; }
.col-8  { grid-column: span 8; }
.col-9  { grid-column: span 9; }
.col-10 { grid-column: span 10; }
.col-11 { grid-column: span 11; }
.col-12 { grid-column: span 12; }

.row-2  { grid-row: span 2; }
.row-3  { grid-row: span 3; }
.row-4  { grid-row: span 4; }
.row-5  { grid-row: span 5; }

.place-items-center {
  display: grid;
  place-items: center;
}

/* END OF FILE ============================================================== */
