/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Headers and footers
============================================================================= */

// Headers ---------------------------------------------------------------------
.header,
.header-fixed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: var(--header-padding-x);
  padding-block: var(--header-padding-y);
  background-color: var(--header-background);
}

.header-fixed {
  max-width: var(--header-max-width);
  margin-inline: auto;
}

/* END OF FILE ============================================================== */
