/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Headers and footers
============================================================================= */

// Headers ---------------------------------------------------------------------
.header {
  background-color: var(--header-background);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  padding-inline: var(--header-padding-x);
  padding-block: var(--header-padding-y);
  background-color: var(--header-content-background);
}

/* END OF FILE ============================================================== */
