/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Indicators
============================================================================= */

// Tags ------------------------------------------------------------------------
.tag {
  display: inline-block;
  padding-inline: .9rem;
  border-radius: var(--radius-base);
  background-color: var(--tags-color-primary);
  color: var(--tags-color-secondary);
  font-size: var(--tags-size);
  line-height: var(--lh-150);
}

.tag-labeled {
  display: inline-flex;
  gap: .9rem;
  overflow: hidden;
  padding-inline-end: .9rem;
  border-radius: var(--radius-base);
  border: .2rem solid var(--tags-labeled-color);
  color: var(--tags-text-primary);
  font-size: var(--tags-labeled-size);
  line-height: var(--lh-150);

  :first-child {
    padding-inline: .9rem;
    background-color: var(--tags-labeled-color);
    color: var(--tags-text-secondary);
  }
}

// Badges ----------------------------------------------------------------------
.badge {
  display: inline-block;
  padding-inline: .9rem;
  border-radius: var(--radius-base);
  background-color: var(--badges-color-primary);
  color: var(--badges-color-secondary);
  font-size: var(--badges-size);
  line-height: var(--lh-150);
}

// Pills -----------------------------------------------------------------------
.pill {
  display: inline-flex;
  gap: .9rem;
  overflow: hidden;
  padding-inline-end: .9rem;
  border-radius: var(--radius-base);
  border: .2rem solid var(--pills-color);
  color: var(--pills-text-primary);
  font-size: var(--pills-size);
  line-height: var(--lh-150);

  :first-child {
    padding-inline: .9rem;
    background-color: var(--pills-color);
    color: var(--pills-text-secondary);
  }
}

// Chips -----------------------------------------------------------------------
.chips {
  display: inline-flex;
  align-items: center;
  gap: .9rem;
  padding-inline: .9rem;
  border-radius: var(--radius-base);
  background-color: var(--chips-color-primary);
  color: var(--chips-color-secondary);
  font-size: var(--chips-size);
  line-height: var(--lh-150);
}

/* END OF FILE ============================================================== */
