/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Loaders
============================================================================= */

.loader {
  width: 4.8rem;
  border: .6rem solid;
}
.loader-sm {
  width: 2.4rem;
  border: .3rem solid;
}
.loader-md {
  width: 7.2rem;
  border: .9rem solid;
}

.loader,
.loader-sm,
.loader-md {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border-color: var(--loader-t) var(--loader-lr) var(--loader-b);
  animation: spin var(--loader-animation) infinite;
}

/* END OF FILE ============================================================== */
