/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Loaders
============================================================================= */

.loader {
  width: var(--loader-size);
  border: var(--loader-stroke) solid;
}

.custom-loader {
  width: var(--custom-loader-size);
  border: var(--custom-loader-stroke) solid;
}

.loader,
.custom-loader {
  display: block;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border-color: var(--loader-t) var(--loader-lr) var(--loader-b);
  animation: var(--loader-animation);
}

/* END OF FILE ============================================================== */
