/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Messages
============================================================================= */

// Messages --------------------------------------------------------------------
.message {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 2.4rem;
  border-radius: var(--radius-base);
  border: .1rem solid var(--ui-color-2);
  background-color: var(--ui-color-0);
  color: var(--ui-color-7);

  ion-icon { font-size: 2.4rem; }
}

.message-positive {
  border-color: var(--green-3);
  background-color: var(--green-1);
  color: var(--green-8);
}

.message-negative {
  border-color: var(--red-2);
  background-color: var(--red-1);
  color: var(--red-7);
}

.message-warning {
  border-color: var(--gold-4);
  background-color: var(--gold-1);
  color: var(--gold-9);
}

.message-info {
  border-color: var(--blue-3);
  background-color: var(--blue-1);
  color: var(--blue-7);
}

// Notice blocks ---------------------------------------------------------------
.notice-block {
  max-width: var(--notice-block-max-width);
  padding: 1.2rem;
  border-radius: 0 var(--radius-base) var(--radius-base) 0;
  border: .1rem solid var(--ui-color-2);
  border-left-width: .6rem;
  background-color: var(--ui-color-0);
  color: var(--ui-color-7);
}
.notice-block-title {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
  font-weight: var(--font-weight-bolder);
  font-size: 1.4rem;

  ion-icon { font-size: 2.4rem; }
}
.notice-block-text { padding-left: 3.6rem; }

.notice-block-positive {
  border-color: var(--green-3);
  background-color: var(--green-1);
  color: var(--green-8);
}

.notice-block-negative {
  border-color: var(--red-2);
  background-color: var(--red-1);
  color: var(--red-7);
}

.notice-block-warning {
  border-color: var(--gold-4);
  background-color: var(--gold-1);
  color: var(--gold-9);
}

.notice-block-info {
  border-color: var(--blue-3);
  background-color: var(--blue-1);
  color: var(--blue-7);
}

/* END OF FILE ============================================================== */
