/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Messages
============================================================================= */

// Messages --------------------------------------------------------------------
.message {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
  padding: 1.2rem 2.4rem;
  border-radius: var(--radius-base);
  border: .1rem solid var(--box-default-border);
  background-color: var(--box-default-background);
  color: var(--box-default-color);

  ion-icon { font-size: var(--icon-base); }
}

.message-positive {
  border-color: var(--box-positive-border);
  background-color: var(--box-positive-background);
  color: var(--box-positive-color);
}

.message-negative {
  border-color: var(--box-negative-border);
  background-color: var(--box-negative-background);
  color: var(--box-negative-color);
}

.message-warning {
  border-color: var(--box-warning-border);
  background-color: var(--box-warning-background);
  color: var(--box-warning-color);
}

.message-info {
  border-color: var(--box-info-border);
  background-color: var(--box-info-background);
  color: var(--box-info-color);
}

// Notice blocks ---------------------------------------------------------------
.notice-block {
  max-width: var(--notice-block-max-width);
  padding: 1.2rem;
  border-radius: 0 var(--radius-base) var(--radius-base) 0;
  border: .1rem solid var(--box-default-border);
  border-left-width: .6rem;
  background-color: var(--box-default-background);
  color: var(--box-default-color);
}
.notice-block-title {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.2rem;
  font-weight: var(--font-weight-bolder);
  font-size: 1.4rem;

  ion-icon { font-size: var(--icon-base); }
}
.notice-block-text { padding-left: 3.6rem; }

.notice-block-positive {
  border-color: var(--box-positive-border);
  background-color: var(--box-positive-background);
  color: var(--box-positive-color);
}

.notice-block-negative {
  border-color: var(--box-negative-border);
  background-color: var(--box-negative-background);
  color: var(--box-negative-color);
}

.notice-block-warning {
  border-color: var(--box-warning-border);
  background-color: var(--box-warning-background);
  color: var(--box-warning-color);
}

.notice-block-info {
  border-color: var(--box-info-border);
  background-color: var(--box-info-background);
  color: var(--box-info-color);
}

/* END OF FILE ============================================================== */
