/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Indicators
============================================================================= */

// Tags ------------------------------------------------------------------------
.tag,
.tag-labeled {
  display: inline-flex;
  gap: .9rem;
  overflow: hidden;
  border-radius: var(--radius-base);
  line-height: var(--lh-150);
}
.tag {
  padding-inline: .9rem;
  background-color: var(--tag-background);
  color: var(--tag-color);
  font-size: var(--tag-size);
}
.tag-labeled {
  padding-inline: 0 .9rem;
  border: .2rem solid var(--tag-label-background);
  color: var(--tag-label-color);
  font-size: var(--tag-label-size);

  :first-child {
    padding-inline: .9rem;
    background-color: var(--tag-label-background);
    color: var(--tag-label-color);
  }
}

// Badges ----------------------------------------------------------------------
.badge {
  display: inline-block;
  padding-inline: .9rem;
  border-radius: var(--radius-base);
  background-color: var(--badge-background);
  color: var(--badge-color);
  font-size: var(--badge-size);
  line-height: var(--lh-150);
}

// Pills -----------------------------------------------------------------------
.pill {
  display: inline-flex;
  align-items: center;
  gap: .9rem;
  overflow: hidden;
  padding-inline: 0 .9rem;
  border-radius: var(--radius-base);
  border: .2rem solid var(--pill-background);
  color: var(--pill-color);
  font-size: var(--pill-size);
  line-height: var(--lh-150);

  :first-child {
    padding-inline: .9rem;
    background-color: var(--pill-background);
    color: var(--pill-color);
  }
}

// Chips -----------------------------------------------------------------------
.chips {
  display: inline-flex;
  align-items: center;
  gap: .9rem;
  padding-inline: .9rem;
  border-radius: var(--radius-base);
  background-color: var(--chips-background);
  color: var(--chips-color);
  font-size: var(--chips-size);
  line-height: var(--lh-150);
}

/* END OF FILE ============================================================== */
