/* =============================================================================
  ITCSS layer: Components
  Bundle: UI Classes, designed components, chunks of UI
  File: Toolbars
============================================================================= */

.toolbar {
  padding-inline: var(--pad-x-toolbar-header);
  padding-block: var(--pad-y-toolbar-header);
}

/* END OF FILE ============================================================== */
