/* =============================================================================
  ITCSS layer: Utilities
  Bundle: IDs and !important, helpers and overrides
  File: Borders
============================================================================= */

.has-border { border: var(--border-base) solid var(--border-color-base); }

.corner-square   { border-radius: 0; }
.corner-circular { border-radius: 50%; }

.corner-rounded   { border-radius: var(--radius-base); }
.corner-rounded-0 { border-radius: var(--radius-small); }
.corner-rounded-1 { border-radius: var(--radius-medium); }
.corner-rounded-2 { border-radius: var(--radius-large); }

/* END OF FILE ============================================================== */
