/* =============================================================================
  ITCSS layer: Utilities
  Bundle: IDs and !important, helpers and overrides
  File: Borders
============================================================================= */

.has-border { border: var(--border-width) solid var(--border-color); }

.corner-square   { border-radius: unset; }
.corner-circular { border-radius: 50%; }

.corner-rounded { border-radius: var(--border-radius-level-0); }
.corner-outer-1 { border-radius: var(--border-radius-level-1); }
.corner-outer-2 { border-radius: var(--border-radius-level-2); }

/* END OF FILE ============================================================== */
