/* =============================================================================
  ITCSS layer: Utilities
  Bundle: IDs and !important, helpers and overrides
  File: Borders
============================================================================= */

.has-border {
  border: var(--border-base) solid;
  border-color: var(--border-color-base);
}

.has-border-1 { border: var(--border-1) solid var(--border-color-base); }
.has-border-2 { border: var(--border-2) solid var(--border-color-base); }
.has-border-3 { border: var(--border-3) solid var(--border-color-base); }

.radius-0  { border-radius: unset; }
.radius-50 { border-radius: 50%; }

.radius    { border-radius: var(--radius-base); }
.radius-sm { border-radius: var(--radius-sm); }
.radius-md { border-radius: var(--radius-md); }
.radius-lg { border-radius: var(--radius-lg); }

/* END OF FILE ============================================================== */
