/* =============================================================================
  ITCSS layer: Utilities
  Bundle: IDs and !important, helpers and overrides
  File: Color utilities
============================================================================= */

[data-border] {
  border-radius: .6rem;
  border: .1rem solid attr(data-border type(<color>));
}

[data-background] { background-color: attr(data-background type(<color>)); }

[data-color] { color: attr(data-color type(<color>)); }

/* END OF FILE ============================================================== */
