/* =============================================================================
  ITCSS layer: Utilities
  Bundle: IDs and !important, helpers and overrides
  File: Color utilities
============================================================================= */

.grid-color-palette {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(var(--grid-colors-columns), 9.6rem);
  grid-template-rows: repeat(var(--grid-colors-rows), auto);
}

.grid-color-palette span {
  padding-block: .6rem;
  align-content: center;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: var(--font-monospace);
  font-variation-settings: 'MONO' 1;
  line-height: var(--lh-125);
  text-align: center;
}

[data-border] {
  border-radius: var(--radius-base);
  border: var(--border-base) solid;
  border-color: attr(data-border type(<color>));
}

[data-background] { background-color: attr(data-background type(<color>)); }

[data-color] { color: attr(data-color type(<color>)); }

/* END OF FILE ============================================================== */
