/* =============================================================================
  ITCSS layer: Utilities
  Bundle: IDs and !important, helpers and overrides
  File: Linter
============================================================================= */

/*
img:not([alt]) {
  padding: .6rem;
  border-radius: .6rem;
  border: .6rem solid crimson;
  background-color: white;
}

audio:not([controls]) { display: none; }

video:not([controls]) {
  padding: .6rem;
  border-radius: .6rem;
  border: .6rem solid crimson;
  background-color: white;
}

:has( > img:not([alt]))::before { content: 'img requer um atributo alt.'; }
:has( > audio:not([controls]))::before { content: 'audio requer um atributo controls.'; }
:has( > video:not([controls]))::before { content: 'video requer um atributo controls.'; }

:has( > img:not([alt]))::before,
:has( > audio:not([controls]))::before,
:has( > video:not([controls]))::before {
  display: inline-block;
  padding: .3rem .6rem;
  border-radius: .6rem;
  background-color: crimson;
  color: white;
  font-size: 1.4rem;
}

// DEPRECATED ------------------------------------------------------------------
hgroup::after, center::after, dir::after,
:has(> acronym)::after, :has(> big)::after, :has(> blink)::after,
:has(> font)::after, :has(> marquee)::after, :has(> strike)::after,
:has(> tt)::after {
  content: 'Não utilize esta tag';
  display: inline-block;
  margin-left: 1.2rem;
  padding: .3rem .6rem;
  border-radius: .6rem;
  background-color: crimson;
  color: white;
  font-size: 1.4rem;
}

/* END OF FILE ============================================================== */
