/* =============================================================================
  ITCSS layer: Utilities
  Bundle: IDs and !important, helpers and overrides
  File: Linter
============================================================================= */

// Atributos obrigatórios e recomendados
html:not([lang])::before {
  content: '<html> requer um atributo lang';
}
html:not(:has(meta[charset]))::before {
  content: '<html> requer uma meta tag charset';
}
html:not(:has(meta[name="viewport"]))::before {
  content: '<html> requer uma meta tag viewport';
}
html:not([lang])::before,
html:not(:has(meta[charset]))::before,
html:not(:has(meta[name="viewport"]))::before {
  display: block;
  padding: .6rem 1.2rem;
  background-color: var(--red-5);
  color: var(--ui-color-0);
  font-size: 1.4rem;
}

img:not([alt]) {
  padding: .6rem;
  border: .6rem solid var(--red-5);
  background-color: var(--red-1);
}

audio:not([controls]) { display: none; }

video:not([controls]) {
  padding: .6rem;
  border: .6rem solid var(--red-5);
  background-color: var(--red-1);
}

:has( > img:not([alt]))::before { content: '<img> requer um atributo alt'; }
:has( > audio:not([controls]))::before {
  content: '<audio> requer um atributo controls';
}
:has( > video:not([controls]))::before {
  content: '<video> requer um atributo controls';
}

:has( > img:not([alt]))::before,
:has( > audio:not([controls]))::before,
:has( > video:not([controls]))::before {
  display: block;
  padding: .6rem 1.2rem;
  background-color: var(--red-5);
  color: var(--ui-color-0);
  font-size: 1.4rem;
}

// DEPRECATED ------------------------------------------------------------------
acronym, applet, big, blink, center, dir, embed, font, hgroup, marquee, menuitem, plaintext, rb, rtc, strike, tt, xmp {
  background-color: var(--red-2);
  color: var(--red-8);
}

applet, dir, embed, hgroup, xmp,
:has(> acronym), :has(> big), :has(> blink), :has(> center), :has(> font),
:has(> marquee), :has(> menuitem), :has(> plaintext), :has(> rb), :has(> rtc),
:has(> strike), :has(> tt) {
  &::after {
    content: 'Há tag descontinuada na marcação do HTML, utilize outra tag.';
    display: block;
    padding: .6rem 1.2rem;
    background-color: var(--red-5);
    color: var(--ui-color-0);
    font-size: 1.4rem;
  }
}

[align], [background], [bgcolor], [border], [color], [compact], [language], [nowrap] {
  &::after {
    content: 'Há atributos descontinuados na marcação do HTML.';
    display: block;
    padding: .6rem 1.2rem;
    background-color: var(--red-5);
    color: var(--ui-color-0);
    font-size: 1.4rem;
  }
}

/* END OF FILE ============================================================== */
