/* =============================================================================
  ITCSS layer: Utilities
  Bundle: IDs and !important, helpers and overrides
  File: Text utilities
============================================================================= */

.font-300 { font-weight: 300; }
.font-400 { font-weight: 400; }
.font-500 { font-weight: 500; }
.font-600 { font-weight: 600; }
.font-700 { font-weight: 700; }
.font-800 { font-weight: 800; }
.font-900 { font-weight: 900; }

.font-sm { font-size: var(--font-size-sm); }
.font-md { font-size: var(--font-size-md); }
.font-lg { font-size: var(--font-size-lg); }

.font-monospace     { font-family: var(--font-monospace); }
.font-sans          { font-family: var(--font-sans-text); }
.font-sans-display  { font-family: var(--font-sans-display); }
.font-serif         { font-family: var(--font-serif-text); }
.font-serif-display {
  font-family: var(--font-serif-display);
  font-size-adjust: .525;
}

.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }

.to-lowercase { text-transform: lowercase; }
.to-uppercase { text-transform: uppercase; }

/* END OF FILE ============================================================== */
