/** ============================================================================
    File: Color Palette
    ITCSS Group: Settings
============================================================================= */

:root {
  // COLOR PALETTE -------------------------------------------------------------
  --ui-color-90: hsl(210, 11%, 86%);
  --ui-color-80: hsl(210, 12%, 72%);
  --ui-color-70: hsl(210, 12%, 57%);
  --ui-color-60: hsl(210, 15%, 43%);
  --ui-color-50: hsl(210, 29%, 29%);
  --ui-color-40: hsl(210, 29%, 23%);
  --ui-color-30: hsl(210, 29%, 19%);
  --ui-color-20: hsl(210, 30%, 15%);
  --ui-color-10: hsl(210, 30%, 10%);

  // COLOR SCHEME --------------------------------------------------------------
  --main-background-color: var(--ui-color-80);
  --main-font-color: var(--ui-color-20);
}

/* END OF FILE ============================================================== */
