/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Embedded
============================================================================= */

object {
  display: block;
  width: 100%;
  max-width: var(--object-max-width);
  margin-inline: auto;
  border-radius: .6rem;
}

iframe {
  display: block;
  width: 100%;
  max-width: var(--iframe-max-width);
  margin-inline: auto;
  border-radius: .6rem;
}

/* END OF FILE ============================================================== */
