/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Embedded
============================================================================= */

iframe {
  display: block;
  overflow: auto;
  width: 100%;
  max-width: var(--iframe-max-width);
  margin-inline: auto;
  border-radius: var(--radius-base);
  border: unset;
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar);
}

embed,
object {
  display: block;
  width: 100%;
  max-width: var(--embedded-max-width);
  margin-inline: auto;
  border-radius: var(--radius-sm);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar);
}

/* END OF FILE ============================================================== */
