/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Tables
============================================================================= */

table {
  table-layout: var(--table-layout);
  width: var(--table-width);
  margin-inline: auto;
  border-collapse: collapse;
  background-color: var(--table-background);
}

caption {
  margin-bottom: var(--table-caption-margin);
  color: var(--table-caption-color);
  font-size: var(--table-caption-size);
  text-align: var(--table-caption-align);
}

// col, colgroup {}

thead {
  border-block: .2rem solid var(--table-border);
  background-color: var(--thead-background);
}

tfoot { background-color: var(--tfoot-background); }

tbody { background-color: var(--tbody-background); }

// tr {}

th {
  padding: var(--thead-cell-padding);
  color: var(--thead-color);
  font-weight: var(--thead-weight);
  font-size: var(--thead-size);
  line-height: var(--lh-125);
  text-align: var(--thead-align);
}

td {
  padding: var(--tbody-cell-padding);
  border-bottom: .1rem solid var(--table-border);
  color: var(--tbody-color);
  font-size: var(--tbody-size);
  line-height: var(--lh-125);
  white-space: nowrap;
}

tfoot td { font-size: var(--tfoot-size); }

/* END OF FILE ============================================================== */
