/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Scripting
============================================================================= */

noscript {
  display: block;
  padding: .6rem 1.2rem;
  background-color: var(--red-5);
  color: var(--ui-color-0);
  font-size: 1.4rem;
}

canvas {
  border-radius: .6rem;
  border: .1rem solid var(--ui-color-2);
  background-color: var(--ui-color-1);
}

/* END OF FILE ============================================================== */
