/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Images
============================================================================= */

// figure { place-items: center; }

figcaption { font-size: var(--caption-size); }

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
  padding-block: .3rem;
  place-items: center;
}

meter, progress {
  appearance: unset;
  display: block;
  width: 100%;
}

/* END OF FILE ============================================================== */
