/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Tables
============================================================================= */

table {
  table-layout: var(--table-layout);
  width: var(--table-width);
  margin-inline: auto;
  border-collapse: collapse;
}

caption {
  caption-side: var(--table-caption-side);
  font-size: var(--table-caption-size);
  color: var(--table-caption-color);
}

thead {
  border-block: var(--table-border-th-width) solid var(--table-border-color);
}

// tbody {}
// tfoot {}

tbody tr, tfoot tr {
  border-bottom: var(--table-border-td-width) solid var(--table-border-color);
}

th {
  padding: var(--table-cell-padding);
  font-weight: var(--table-header-font);
  line-height: var(--lh-150);
}

td {
  padding: var(--table-cell-padding);
  line-height: var(--lh-150);
}

/* END OF FILE ============================================================== */
