/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Buttons
============================================================================= */

button {
  appearance: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  height: 4.8rem;
  padding-inline: 1.2rem;
  border-radius: .6rem;
  border: .1rem solid;
  border-color: var(--button-border);
  background-color: var(--button-background);
  color: var(--button-color);
  font-weight: var(--button-weight);
  font-size: (--button-size);
  font-family: inherit;
  line-height: var(--lh-125);
  cursor: default;

  &:hover:not(:disabled),
  &:active:not(:disabled),
  &:focus:not(:disabled) {
    outline: unset;
  }

  &:disabled { opacity: .5; }
}

/* END OF FILE ============================================================== */
