/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Buttons
============================================================================= */

button {
  appearance: unset;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  min-width: 4.8rem;
  height: 4.8rem;
  padding-inline: 1.2rem;
  outline: unset;
  border-radius: .9rem;
  border: unset;
  background-color: var(--button-background);
  color: var(--button-color);
  font-weight: var(--button-weight);
  font-size: var(--button-size);
  font-family: inherit;
  line-height: var(--lh-125);
  vertical-align: bottom;
  cursor: default;

  ion-icon {
    color: var(--button-icon-color);
    font-size: var(--button-icon-size);
  }

  &:disabled { opacity: .5; }
}

/* END OF FILE ============================================================== */
