/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Images
============================================================================= */

// figure {}

figcaption {
  color: var(--figcaption-color);
  font-size: var(--figcaption-size);
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
  place-items: center;
}

/* END OF FILE ============================================================== */
