/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Scripting
============================================================================= */

noscript {
  display: block;
  padding: .6rem 1.2rem;
  border-radius: .6rem;
  background-color: var(--red-1);
  color: var(--red-8);
  font-size: 1.4rem;
  line-height: var(--lh-150);
}

canvas {
  display: var(--canvas-display);
  border-radius: .6rem;
  border: .1rem solid var(--canvas-border);
  background-color: var(--canvas-background);
}

/* END OF FILE ============================================================== */
