/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Basic HTML
============================================================================= */

// Basic HTML ------------------------------------------------------------------
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  background-color: var(--body-background);
  color: var(--body-color);
  font-weight: 400;
  font-size: var(--font-size-base);
  font-family: var(--body-font);
  line-height: var(--lh-150);
  font-optical-sizing: auto;
  font-kerning: auto;
}

h1, h2, h3, h4, h5, h6 {
  padding-block: var(--heading-padding-y);
  color: var(--heading-color);
  font-weight: unset;
  font-style: unset;
  font-family: var(--heading-font);
  line-height: var(--lh-125);
}
h6 { font-size: var(--heading-6-size); }
h5 { font-size: var(--heading-5-size); }
h4 { font-size: var(--heading-4-size); }
h3 { font-size: var(--heading-3-size); }
h2 { font-size: var(--heading-2-size); }
h1 { font-size: var(--heading-1-size); }

p {
  overflow-wrap: break-word;
  padding-block: .3rem;
}

hr {
  height: var(--rule-height);
  margin-inline: auto;
  margin-block: var(--rule-margin-y);
  border-style: unset;
  background-color: var(--rule-color);
}

// Semantic sectioning ---------------------------------------------------------
// article {}
// aside {}
// footer {}
// header {}
// hgroup {}
// main {}
// nav {}
// search {}
// section {}

address { font-style: unset; }

// Text blocks -----------------------------------------------------------------
blockquote {
  margin-inline: var(--blockquote-margin-x);
  padding-block: .3rem;

  :first-child {
    font-size: inherit;
    text-indent: var(--blockquote-indent);
    quotes: auto;

    &::before { content: open-quote; }
    &::after  { content: close-quote; }
  }

  :last-child {
    font-size: 1.4rem;
    text-align: right;
  }
}

// div {}
// pre {}

// Interactive elements --------------------------------------------------------
dialog {
  position: unset;
  padding: 1.2rem;
  border-radius: var(--radius-base);
  border: var(--border-1) solid;
  background-color: unset;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

// details, summary {}

// Semantic inline text ----------------------------------------------------
// span {}
// br, wbr {}

// a:hover MUST come after a:link and a:visited
// a:active MUST come after a:hover
a {
  color: unset;
  text-decoration: unset;
  cursor: default;
}
a:link    { color: unset; }
a:visited { color: unset; }
a:hover   { color: unset; }
a:active  { color: unset; }
a:focus   { color: unset; }

b, strong { font-weight: var(--font-weight-bolder); }

i, em { font-style: unset; }

small { font-size: var(--font-size-small); }

sub, sup {
  font-size: 1.2rem;
  line-height: var(--lh-100);
}
sub { vertical-align: sub; }
sup { vertical-align: super; }

// cite, q {}
// abbr {}
// dfn {}
// time {}
// s, u {}

mark {
  padding-inline: .6rem;
  border-radius: var(--radius-sm);
  background-color: light-dark(var(--lime-2), var(--lime-9));
  color: inherit;
  line-height: var(--lh-150);
}

del, ins {
  padding-inline: .6rem;
  border-radius: var(--radius-sm);
  line-height: var(--lh-150);
}
del {
  background-color: light-dark(var(--red-1), var(--red-9));
  color: light-dark(var(--red-7), var(--red-2));
  text-decoration: line-through;
}
ins {
  background-color: light-dark(var(--green-1), var(--green-9));
  color: light-dark(var(--green-8), var(--green-2));
  text-decoration: unset;
}

code, kbd {
  display: inline-block;
  border-radius: var(--radius-sm);
  font-style: normal;
  font-size: inherit;
  line-height: var(--lh-150);
}
code {
  padding-inline: .6rem;
  background-color: light-dark(var(--ui-color-7), var(--ui-color-7));
  color: light-dark(var(--green-3), var(--green-3));
  font-weight: 400;
  font-family: var(--font-monospace);
  font-variation-settings: 'MONO' 1;
}
kbd {
  padding-inline: 1.2rem;
  border: .1rem solid light-dark(var(--ui-color-3), var(--ui-color-5));
  background-color: light-dark(var(--ui-color-0), var(--ui-color-8));
  color: light-dark(var(--ui-color-6), var(--ui-color-0));
  font-weight: var(--font-weight-bolder);
  font-family: var(--font-sans-text);
}

// samp, var {}
// data {}
// bdi, bdo {}
// rp, rt, ruby {}

/* END OF FILE ============================================================== */
