/* =============================================================================
  ITCSS layer: Elements
  Bundle: Bare elements (unclassed HTML / type selectors)
  File: Basic HTML
============================================================================= */

// Basic HTML ------------------------------------------------------------------
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100dvh;
  background-color: var(--body-background);
  color: var(--body-color);
  font-weight: 400;
  font-size: 1.6rem;
  font-family: var(--body-font);
  line-height: var(--lh-150);
  font-optical-sizing: auto;
  font-kerning: auto;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-weight: var(--heading-weight);
  font-style: normal;
  font-family: var(--heading-font);
  line-height: var(--lh-125);
}
h1 { font-size: var(--heading-1-size); }
h2 { font-size: var(--heading-2-size); }
h3 { font-size: var(--heading-3-size); }
h4 { font-size: var(--heading-4-size); }
h5 { font-size: var(--heading-5-size); }
h6 { font-size: var(--heading-6-size); }

p { overflow-wrap: break-word; }

hr {
  height: var(--ruler-height);
  margin-inline: auto;
  border-style: unset;
  background-color: var(--ruler-color);
}

blockquote { margin-inline: 1em; }

// Semantic sectioning ---------------------------------------------------------
// article {}
// aside {}
// footer {}
// header {}
// main {}
// nav {}
// section {}
// search {}

address { font-style: unset; }

// Text formatting -------------------------------------------------------------
a {
  color: inherit;
  text-decoration: unset;
  cursor: default;
}

b, strong { font-weight: bolder; }

i, em { font-style: italic; }

mark {
  display: inline-block;
  padding-inline: .6rem;
  border-radius: .6rem;
  background-color: var(--ui-color-2);
  color: inherit;
  line-height: inherit;
}

del, s {
  text-decoration: line-through;
}

ins, u {
  text-decoration: underline;
}

small { font-size: 1.4rem; }
sub, sup {
  font-size: 1.2rem;
  line-height: var(--lh-100);
}
sub { vertical-align: sub; }
sup { vertical-align: super; }

code, kbd {
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: inherit;
}
code { font-family: var(--font-monospace); }
kbd { font-family: var(--font-sans-text); }

dialog {
  position: unset;
  border: unset;
  background-color: unset;
  color: inherit;
  font-size: inherit;
}

/* END OF FILE ============================================================== */
