/* =============================================================================
  ITCSS layer: Generic
  Bundle: Ground-zero styles (3rd party, reset, normalize)
  File: Reset
============================================================================= */

// ALL HTML TAGS ---------------------------------------------------------------

// Basic HTML
body, h1, h2, h3, h4, h5, h6, hr, html, p,
// Semantic sectioning
address, article, aside, footer, header, hgroup, main, nav, search, section,
// Text blocks
blockquote, div, pre,
// Interactive elements
details, dialog, summary,
// Semantic inline text
a, abbr, b, bdi, bdo, br, cite, code, data, del, dfn, em, i, ins, kbd, mark, q, rp, rt, ruby, s, samp, small, span, strong, sub, sup, time, u, var, wbr,
// Lists
dd, dl, dt, li, menu, ol, ul,
// Tables
caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr,
// Images
figcaption, figure, img, picture, svg,
// Audio and Video
audio, video,
// Embedded
embed, iframe, object,
// Scripting
canvas, noscript,
// Forms
button, datalist, fieldset, form, input, label, legend, optgroup, option, output, select, textarea,
// Progress bars
meter, progress,
// External lib
ion-icon,
// Pseudo-elements
::before, ::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

/* =============================================================================
  REFERENCES -------------------------------------------------------------------
    https://developer.mozilla.org/pt-BR/docs/Web/HTML/Reference/Elements
    https://www.w3schools.com/TAgs/ref_byfunc.asp

  NOT APPLICABLE ---------------------------------------------------------------
    Metadata:       base, head, link, meta, style, title
    Images:         map, area
    Embedded:       source
    Scripting:      script

  NOT TESTED -------------------------------------------------------------------
    Multimedia:     track
    Embedded:       portal
    Mathml:         math
    Web components: template, slot

  NOT SUPPORTED ----------------------------------------------------------------
    keygen

  DEPRECATED -------------------------------------------------------------------
    acronym, applet, basefont, bgsound, big, blink, center, content, dir, font, frame, frameset, image, marquee, menuitem, nobr, noembed, noframes, param, plaintext, rb, rtc, shadow, spacer, strike, tt, xmp
============================================================================= */

/* END OF FILE ============================================================== */
