/* =============================================================================
  ITCSS layer: Generic
  Bundle: Ground-zero styles (3rd party, reset, normalize)
  File: Reset
============================================================================= */

// ALL HTML TAGS ---------------------------------------------------------------

// Basic HTML --------------------------
body, div, hr, html, h1, h2, h3, h4, h5, h6, p, span,
// Semantic sectioning -----------------
address, article, aside, footer, header, main, nav, search, section,
// Text Formatting ---------------------
a, abbr, b, blockquote, br, cite, code, del, dfn, em, i, ins, kbd, mark, pre, q, s, samp, small, strong, sub, sup, time, u, var, wbr,
bdi, bdo, rp, rt, ruby,
// Lists -------------------------------
dd, dl, dt, li, menu, ol, ul,
// Tables ------------------------------
caption, col, colgroup, table, tbody, td, tfoot, th, thead, tr,
// Images ------------------------------
figcaption, figure, img, meter, picture, progress, svg,
// Audio and Video ---------------------
audio, video,
// Embedded ----------------------------
iframe, object,
// Interactive elements ----------------
details, dialog, summary,
// Scripting ---------------------------
canvas, noscript,
// Forms -------------------------------
button, datalist, fieldset, form, input, label, legend, optgroup, option, output, select, textarea,
// External lib ------------------------
ion-icon,
// Pseudo-elements ---------------------
::before, ::after {
  box-sizing: border-box;
  margin: unset;
  padding: unset;
}

/* =============================================================================
NOT APPLICABLE -----------------------------------------------------------------
  Metadata:       base, head, link, meta, style, title
  Images:         map, area
  Embedded:       source
  Scripting:      script

NOT TESTED ---------------------------------------------------------------------
  Multimedia:     track
  Embedded:       portal
  Mathml:         math
  Web components: template, slot

NOT SUPPORTED ------------------------------------------------------------------
  keygen

DEPRECATED ---------------------------------------------------------------------
  acronym, applet, basefont, bgsound, big, blink, center, content, dir, embed, font, frame, frameset, hgroup, marquee, menuitem, nobr, noembed, noframes, param, plaintext, rb, rtc, shadow, spacer, strike, tt, xmp
============================================================================= */

/* END OF FILE ============================================================== */
