/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Buttons
============================================================================= */

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  min-width: 4.8rem;
  height: 4.8rem;
  padding-inline: 1.2rem;
  outline: unset;
  border-radius: var(--button-radius);
  background-color: var(--button-background);
  color: var(--button-color);
  font-weight: var(--button-weight);
  font-size: var(--button-text);
  line-height: var(--lh-125);
  vertical-align: bottom;
  cursor: default;

  ion-icon {
    color: var(--button-icon-color);
    font-size: var(--button-icon-size);
  }

  &.disabled { opacity: .5; }
}

.button-outlined {
  border: var(--button-border) solid var(--button-border-color);
  background-color: unset;
}

.button-ghost { background-color: unset; }

/* END OF FILE ============================================================== */
