/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Buttons
============================================================================= */

.borderless { border: unset; }

.outlined { background-color: unset; }

.button-large { height: 6.4rem; }
.button-small { height: 3.2rem; }

/* END OF FILE ============================================================== */
