/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Embedded
============================================================================= */

.object {
  scrollbar-width: thin;
}

.iframe {
  overflow: auto;
  scrollbar-width: thin;
}

/* END OF FILE ============================================================== */
