/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Headings
============================================================================= */

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.heading-5,
.heading-6 {
  font-weight: var(--heading-weight);
}
.heading-6 { font-size: var(--heading-6-size); }
.heading-5 { font-size: var(--heading-5-size); }
.heading-4 { font-size: var(--heading-4-size); }
.heading-3 { font-size: var(--heading-3-size); }
.heading-2 { font-size: var(--heading-2-size); }
.heading-1 { font-size: var(--heading-1-size); }

.heading-display-1,
.heading-display-2,
.heading-display-3,
.heading-display-4 {
  color: var(--heading-large-color);
  font-weight: var(--heading-large-weight);
  font-family: var(--heading-large-font);
}
.heading-display-4 { font-size: var(--heading-large-4-size); }
.heading-display-3 { font-size: var(--heading-large-3-size); }
.heading-display-2 { font-size: var(--heading-large-2-size); }
.heading-display-1 { font-size: var(--heading-large-1-size); }

.heading-overline,
.heading-caption {
  font-size: 1.4rem;
  line-height: var(--lh-125);
}
.heading-overline {
  padding-block: unset;
  color: var(--heading-color-overline);
}
.heading-caption {
  padding-block: unset;
  color: var(--heading-color-caption);
}

/* END OF FILE ============================================================== */
