/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Headings
============================================================================= */

.heading-1 { font-size: var(--heading-1-size); }
.heading-2 { font-size: var(--heading-2-size); }
.heading-3 { font-size: var(--heading-3-size); }
.heading-4 { font-size: var(--heading-4-size); }
.heading-5 { font-size: var(--heading-5-size); }
.heading-6 { font-size: var(--heading-6-size); }

.overline, .caption {
  font-size: 1.4rem;
  line-height: var(--lh-125);
}
.overline {
  padding-block: .3rem;
  color: var(--heading-color-overline);
}
.caption {
  padding-block: .3rem;
  color: var(--heading-color-caption);
}

/* END OF FILE ============================================================== */
