/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Images
============================================================================= */

.image-display {
  overflow: hidden;
  padding-inline: var(--image-display-padding-x);
  padding-block: var(--image-display-padding-y);
  background-color: var(--image-display-background);
  place-items: var(--image-display-align);
}

.image-caption {
  width: 100%;
  padding-inline: 1.2rem;
  padding-block: var(--image-caption-padding-y);
  color: var(--image-caption-color);
  font-size: var(--image-caption-size);
  line-height: var(--lh-125);
}

/* END OF FILE ============================================================== */
