/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Images
============================================================================= */

.image {
  place-items: center;
  background-color: var(--image-background);
}

.image-caption {
  padding-inline: 1.2rem;
  padding-block: var(--caption-space-y);
  color: var(--caption-color);
  line-height: var(--lh-125);
}

/* END OF FILE ============================================================== */
