/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Images
============================================================================= */

.media-caption {
  margin-top: var(--caption-spacing);
  color: var(--caption-color);
  font-size: var(--caption-size);
}

/* END OF FILE ============================================================== */
