/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Lists
============================================================================= */

.markers-none li { list-style-type: none; }

.custom-counters { counter-reset: acc; }
.custom-counters li { list-style-type: none; }
.custom-counters li::before {
  counter-increment: acc;
  content: var(--counter-start) counter(acc) var(--counter-end);
  display: inline-block;
  margin-right: .6em;
  color: var(--list-marker-color);
  font-size: 1.4rem;
}

.custom-bullets {
  li {
    list-style-type: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: .6em;
  }

  ion-icon { color: var(--ul-list-marker-color); }
}

.list-outlined {
  li {
    border-bottom: .1rem solid var(--list-border);

    &:first-child { border-top: .1rem solid var(--list-border); }
  }
}

.list-splitted li {
  span:first-of-type { flex-grow: 1; }
}

.menu-block {
  min-width: var(--menu-block-min-width);
  max-width: var(--menu-block-max-width);
  padding: .6rem;
  border-radius: .9rem;
  background-color: var(--button-background);

  button {
    justify-content: left;
    width: 100%;
  }
}

.menu-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--menu-bar-button), auto));
  gap: var(--menu-bar-gap);

  button { width: 100%; }
}

/* END OF FILE ============================================================== */
