/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Lists
============================================================================= */

.ol-list { padding: var(--list-spacing); }
// .ol-list-item {}

// .ol-inner-list {}
// .ol-inner-list-item {}

.ul-list { padding: var(--list-spacing); }
// .ul-list-item {}

// .ul-inner-list {}
// .ul-inner-list-item {}

.menu { padding: var(--list-spacing); }
// .menu-item {}

// .inner-menu {}
// .inner-menu-item {}

.dl-list { padding: var(--list-spacing); }
// .dl-list-dt {}
// .dl-list-dd {}

/* END OF FILE ============================================================== */
