/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Lists
============================================================================= */

.markers-none li { list-style-type: none; }

.marker-arrow::before   { content: url('./assets/arrow-forward.svg'); }
.marker-caret::before   { content: url('./assets/caret-forward.svg'); }
.marker-check::before   { content: url('./assets/checkmark.svg'); }
.marker-chevron::before { content: url('./assets/chevron-forward.svg'); }
.marker-plus::before    { content: url('./assets/plus.svg'); }

.marker-arrow,
.marker-caret,
.marker-check,
.marker-chevron,
.marker-plus {
  list-style-type: none;

  &::before {
    display: inline-block;
    width: 16px;
    margin-right: .6em;
    line-height: 1;
  }
}

/* END OF FILE ============================================================== */
