/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Multimedia (audio and video)
============================================================================= */

// https://chromium.googlesource.com/chromium/blink/+/72fef91ac1ef679207f51def8133b336a6f6588f/Source/core/css/mediaControls.css

.audio-player {
  border-radius: .9rem;
  background-color: var(--audio-panel-color);

  &::-webkit-media-controls-panel {
    // Cor de fundo do painel de controle
    background-color: var(--audio-panel-color);
  }
}

.audio-display {
  max-width: 64rem;
  margin-inline: auto;
  padding: .6rem;
  border-radius: 1.2rem;
  border: .1rem solid var(--audio-display-border);
  background-color: var(--audio-display-background);

  .audio-player { border: .1rem solid var(--audio-display-border); }
}

.audio-display-track {
  display: grid;
  grid-template-columns: 25% 1fr;
  align-items: end;
  gap: 1.2rem;
  margin-bottom: .6rem;
}

.audio-display-cover { border-radius: .9rem; }

// .audio-display-info {}
.audio-display-info-track {
  color: var(--audio-display-info-track-color);
  font-weight: var(--font-weight-bolder);
  font-size: 1.8rem;
  line-height: var(--lh-125);
}
.audio-display-info-caption {
  color: var(--audio-display-info-caption-color);
  font-size: 1.4rem;
  line-height: var(--lh-100);
}

.video-display {
  max-width: var(--block-medium-max-width);
  margin-inline: auto;
  padding: .6rem;
  border-radius: 1.2rem;
  background-color: var(--video-display-background);
}

.video-display-info { padding: .6rem; }
.video-display-info-track {
  color: var(--video-display-info-track-color);
  font-weight: var(--font-weight-bolder);
  font-size: 1.8rem;
  line-height: var(--lh-125);
}
.video-display-info-caption {
  color: var(--video-display-info-caption-color);
  font-size: 1.4rem;
  line-height: var(--lh-100);
}

/* END OF FILE ============================================================== */
