/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Scripting
============================================================================= */

.noscript {
  display: block;
  padding: .6rem 1.2rem;
  border-radius: var(--radius-sm);
  background-color: var(--red-5);
  color: var(--ui-color-0);
  font-size: 1.4rem;
  line-height: var(--lh-150);
}

/* END OF FILE ============================================================== */
