/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Scripting
============================================================================= */

.noscript {
  display: block;
  padding: .6rem 1.2rem;
  border-radius: .6rem;
  background-color: var(--red-1);
  color: var(--red-8);
  font-size: 1.4rem;
  line-height: var(--lh-150);
}

/* END OF FILE ============================================================== */
