/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Tables
============================================================================= */

.table-striped tr:nth-child(even) {
  backdrop-filter: var(--tbody-stripes);
}

.table-caption-top {
  caption-side: top;
  margin-bottom: 1.2rem;
}
.table-caption-bottom {
  caption-side: bottom;
  margin-top: 1.2rem;
}

/* END OF FILE ============================================================== */
