/* =============================================================================
  ITCSS layer: Objects
  Bundle: Layout classes, cosmetic-free design patterns
  File: Text formatting
============================================================================= */

.paragraph {
  padding-block: var(--paragraph-spacing-y);
  text-indent: var(--paragraph-indent);
}

// .h-rule {}
.h-rule-66 { max-width: 66%; }
.h-rule-50 { max-width: 50%; }
.h-rule-33 { max-width: 33%; }

.blockquote {
  padding-inline: 2em 1em;
  padding-block: 1.2rem;
  border-radius: 0 .6rem .6rem 0;
  border-left: .3rem solid var(--blockquote-border);
  background-color: var(--blockquote-background);
  color: var(--blockquote-color);

  :first-child {
    margin-bottom: .6rem;
    font-family: var(--blockquote-font);
  }
}

// a:hover MUST come after a:link and a:visited
// a:active MUST come after a:hover
.anchor {
  border-bottom: .1rem solid;
  transition: all 200ms linear;
}
.anchor:link    { color: var(--anchor-color-link); }
.anchor:visited { color: var(--anchor-color-visited); }
.anchor:hover   { color: var(--anchor-color-hover); }
.anchor:active  { color: var(--anchor-color-active); }
.anchor:focus   { color: var(--anchor-color-focus); }

// b, strong {}
// i, em {}

.mark-red       { background-color: var(--red-2); }
.mark-orange    { background-color: var(--orange-2); }
.mark-gold      { background-color: var(--gold-2); }
.mark-lime      { background-color: var(--lime-2); }
.mark-green     { background-color: var(--green-2); }
.mark-tiffany   { background-color: var(--tiffany-2); }
.mark-blue      { background-color: var(--blue-2); }
.mark-royalblue { background-color: var(--royalblue-2); }
.mark-purple    { background-color: var(--purple-2); }
.mark-brown     { background-color: var(--brown-2); }

// del, ins {}

// small {}

.code {
  display: inline-block;
  padding-inline: .6rem;
  border-radius: .6rem;
  background-color: var(--ui-color-7);
  color: var(--green-3);
  font-weight: 400;
  font-style: normal;
  font-size: inherit;
  font-family: var(--font-monospace);
  line-height: var(--lh-150);
}

// kbd {}

// dialog {}

/* END OF FILE ============================================================== */
