/* =============================================================================
  Project: front-ed.css
  ------------------------------------------------------------------------------
  File: Front-Ed
  Description: Biblioteca CSS para uso pessoal de Ed Robert
  Author: Ed Robert
============================================================================= */

// SETTINGS - Global variables, config switches
// config.css (external stylesheet)

// TOOLS - Default mixins and functions
@use './2-tools/functions';

// GENERIC - Ground-zero styles (3rd party, reset, normalize)
@use './3-generic/reset';

// ELEMENTS - Bare elements (unclassed HTML / type selectors)
@use './4-elements/basic-html';
@use './4-elements/bare-lists';
@use './4-elements/bare-tables';
@use './4-elements/bare-images';
@use './4-elements/bare-multimedia';
@use './4-elements/bare-embedded';
@use './4-elements/bare-scripting';
@use './4-elements/bare-buttons';
@use './4-elements/bare-forms';

// OBJECTS - Layout classes, cosmetic-free design patterns
@use './5-objects/headings';
@use './5-objects/text-formatting';
@use './5-objects/lists';
@use './5-objects/tables';
@use './5-objects/images';
@use './5-objects/multimedia';
@use './5-objects/embedded';
@use './5-objects/scripting';
@use './5-objects/buttons';
@use './5-objects/forms';

// COMPONENTS - UI Classes, designed components, chunks of UI
// @use './6-components/wireframes';
@use './6-components/containers';
@use './6-components/grid-layout';
@use './6-components/flexbox';
@use './6-components/headers';
@use './6-components/banners';
@use './6-components/branding';
@use './6-components/avatars';
@use './6-components/dropdown';
@use './6-components/toolbars';
@use './6-components/menus';
// @use './6-components/cards';
@use './6-components/icons';
@use './6-components/messages';
@use './6-components/tagging';
// @use './6-components/tooltips';
@use './6-components/loaders';
@use './6-components/navigation';

// [ ] Wireframes
// [X] Containers
// [X] Grid layout
// [X] Flexbox
// [X] Headers and footers
// [X] Banners
// [X] Branding
// [X] Avatars (personal avatar)
// [X] Dropdown button
// [X] Toolbars (app bar, sticky bar)
// [X] Menus (nav bar)
// [ ] Menus (nav menu)
// [ ] Cards
// [X] Icons (Ionicon - external lib)
// [X] Messages (text messages, notice blocks)
// [X] Tagging (tags, badges, pills and chips)
// [ ] Tooltips
// [X] Loaders and spinners
// [X] Navigation (breadcrumbs, pagination)

// [ ] Steppers
// [ ] Timeline

// [ ] Alerts (alerts, toasts and notify)
// [ ] Modals and popovers

// [ ] Collapsible
// [ ] Accordion
// [ ] Drawers

// [ ] Tabs and tab panels
// [ ] Carousel
// [ ] Gallery

// [ ] Form components (toggle, button toggle, slider, range)
// [ ] Dashboards (bars, donuts, lines, piechart, ...)
// [ ] Parallax

// UTILITIES - IDs and !important, helpers and overrides
@use './7-utilities/color-utils';
@use './7-utilities/text-utils';
@use './7-utilities/spacing';
@use './7-utilities/borders';
@use './7-utilities/elevation';
@use './7-utilities/animations';
@use './7-utilities/linter';

// [ ] Breakpoints and responsive design
// [X] Color utils (color palette, borders, backgrounds and colors)
// [ ] Color utils (gradients)
// [X] Text utils (modificadores de texto, text columns)
// [X] Spacing
// [X] Borders (radius and lines)
// [X] Elevation (box shadows)
// [ ] Elevation (text shadows)
// [ ] Opacity
// [ ] Filters
// [X] Animations (blink, pulse, rotate, spin)
// [ ] Transitions
// [ ] States (hover, focus, ...)
// [ ] Theme (light / dark mode)
// [ ] Helper classes
// [X] CSS linter

/* END OF FILE ============================================================== */
